@import "../scss//mixins.scss";
@import "../scss/variables";
.chat__extDiv{
    @include displayFlexRow;
    width: 100vw;
    height: 100vh;
    
    background-color: $bg-color;

    .toggleIcon{
        font-size: 45px;
        color: #000;
        cursor: pointer;
        box-shadow: 0px 0px 4px rgb(0,0,0.5);



    }
    .chat__sideBar{
        flex: 0.3;
        display: flex;
        flex-direction: column;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        height: 90%;
        background-color:$side-bar-color;
        overflow-y: scroll;
        margin-left: 10px;
        min-width: 271px;

       .chat__sideBar__heading{
            display: flex;
            height: 60px;
            justify-content: center;
            align-items: center;
            background-color: #15085a;
            font-size: x-large;
        }
        .chat__sideBar__users{
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow-y: scroll;
            font-size: large;
            &::-webkit-scrollbar{
                display: none;
            }
            .chat__sideBar__user{
                display: flex;
                flex-direction: row;
                padding-left: 20px;
                align-items: center;
                cursor: pointer;
                flex: 1;
                max-height: 60px;
                transition: 1s all ease-in-out;
                justify-content: flex-start;
                &:hover{
                  background-color: #15085a;
                }
        }}
        &::-webkit-scrollbar{
            display: none;
        }


    }
    .chat__msgPart{
        flex:0.7;
        height: 90%;
        margin-right: 10px;
        padding: 10px;
        min-width: 379px;
        background-color: $msg-bg-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .chat__messages{
            display: flex;
            flex-direction: column;
            
            padding-bottom: 10px;
            overflow-y: scroll;

            .message__box{
                display: flex;
                flex-direction: column;
                border: 1px solid black;
                width: fit-content;
                border-radius: 3px;
                padding: 10px;
                margin-bottom: 10px;
                background-color: #90ace3ab;
                min-width: 106px;
                max-width: 50%;
                .time__rightAlinged{
                    text-align: end;
                }
            }
            .message__box__right{
                display: flex;
                flex-direction: column;
                align-self: end;
            }

            &::-webkit-scrollbar{
                display: none;
            }


            & p{
                padding: 10px;
            }
        }

        .chat__msg__bottom{
            display: flex;
            

            .chat__inputForm{
                display: flex;
                flex: 1;

               
               & form{
                   display: flex;
                   flex: 1;
                   justify-content: space-around;
                   padding-right: 3px;
                   & input{
                       width: 100%;
                       height: 40px;
                       border: none;
                       outline: none;
                       padding-left: 10px;
                       font-family:$msg-font;
                       color: #000;
                       font-weight: 900;
                   }

                   & button{
                       min-width: 80px;
                       border: none;
                       outline: none;
                       padding-left: 3px;
                   }
               }
            }

            .chat__locationButton{

                button{
                    width: 85px;
                    height: 100%;
                    border: none;
                    outline: none;
                }
               
            }
        }
    }

    
}

@media (max-width:670px) {
    .chat__extDiv .chat__msgPart{
        margin-right: 0px;
    }
    
}