@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Nunito+Sans:wght@200&display=swap');

$button-color:#7C83FD;
$msg-bg-color:#96BAFF;
$side-bar-color:#0F044C;
$bg-color:#88FFF7;


$side-bar-font:'Nunito Sans', sans-serif;
$msg-font:'Fira Sans', sans-serif,'Nunito Sans', sans-serif;
